
products.csv
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Foodfact-checkpoint.ipynb
en.openfoodfacts.org.products.csv
Présentation sans titre.gslides
FireShot Capture 437 - Datafood_Foodfact.ipynb at main · Ranack_Datafood - github.com.png
*.gslides
*.png
